<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <b>Login</b>
      </div>
      <div class="card-body">
  
        <label style="float: left;">Email</label>
        <input class="form-control m-2" type="email" placeholder="Ingrese su Email" [(ngModel)]="usuario.email"/>
        
        <label style="float: left;">Contraseña</label>
        <input class="form-control m-2" type="password" placeholder="Ingrese su Contradseña" [(ngModel)]="usuario.password"/>
        
        <button class="btn btn-primary btn-block" (click)="Ingresar()">Ingresar</button>
        <button class="btn btn-primary btn-block" (click)="Crear()">Crear</button>
      </div>
    </div>

    
  </div>